.Board {
  width: 100vw;
  height: 100vh;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Board__stack {
  position: absolute;
  width: 193px;
  height: 240px;
}

.Board__stack::before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 4px dashed rgba(50, 50, 50, 0.3);
  border-radius: 22px;
}

@keyframes toLeft {
  0% {
    opacity: 100;
    transform: translate(0);
  }
  100% {
    opacity: 0;
    transform: translate(-100px);
  }
}

@keyframes toRight {
  0% {
    opacity: 100;
    transform: translate(0);
  }
  100% {
    opacity: 0;
    transform: translate(100px);
  }
}

.Board__stack__move-to-left {
  animation: toLeft 700ms ease-out;
  color: #0d4238;
  font-size: 8rem;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 55px;
}

.Board__stack__move-to-right {
  animation: toRight 700ms ease-out;
  color: #0d4238;
  font-size: 8rem;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 55px;
}

.Board__next-button {
  position: absolute;
  bottom: 30px;
  right: 30px;
  background-color: transparent;
  border: 0;
  color: white;
}

.Board__next-button[disabled] {
  opacity: 0.6;
}

.Board__other-player {
  position: absolute;
  top: 55px;
  left: 30px;
  background-color: transparent;
  border: 0;
  color: white;
}

.Board__counter {
  font-size: 6rem;
  position: absolute;
  top: -120px;
  left: 50%;
  transform: translateX(-50%);
  color: #0d4238;
}
